.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vmin;
}

.container h3{
    padding: 2vmin 4vmin;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vmin;
    width: 90vmin;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 4vmin;
}

.container button{
    height: 5vmin;
    width: 10vmin;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 2vmin;
    font-weight: 700;
    background-color: rgb(175, 170, 170);;
}

.container button:hover{
    background-color: black;
    color: white;
}